*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
/*Heading*/
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}
/*Underline Heading*/
h1::before{
    content: '';
    position: absolute;
    background-color: blue;
    width: 100px;
    height: 3px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{width: 100px;}
    50%{width: 150px;}
    100%{width: 200px;}
}
/*nav*/
.top-container{
    background-color: rgb(231, 231, 231);
    width: 80%;
    margin: 0 auto 20px auto;
    align-items: center;
    height: 45px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(202, 202, 202);
}
/*Nav labels*/
label{
    padding-left: 5%;
    display: inline-block;
    height: 100%;
    line-height: 45px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color.5s;
}
label:hover{
    color: black;
}
/*Picture container*/
.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow:2px 2px 4px rgb(202, 202, 202);
    cursor: pointer;
    transition: .5s;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: .5s;
}
.pic::before{
    content: "ANIMALS";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(214, 214, 214);
    font-size: 22PX;
    font-weight: bold;
    width: 100%;
    margin-top: -50PX;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.cat::before{
    content: "CAT";
}
.dog::before{
    content:"DOG" ;
}
.hourse::before{
    content: "HOURSE";
}
.lion::before{
    content: "LION";
}
.parrot::before{
    content: "PARROT";
}

.pic:after{
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    position: absolute;
    height: 0;
    background-color: rgb(26, 26, 26);
    opacity: 0.5;
    transition: .3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}


/* Hide all when filtering */
#check2:checked ~ .container .photo-gallery .pic,
#check3:checked ~ .container .photo-gallery .pic,
#check4:checked ~ .container .photo-gallery .pic,
#check5:checked ~ .container .photo-gallery .pic,
#check6:checked ~ .container .photo-gallery .pic {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check2:checked ~ .container .photo-gallery .dog,
#check3:checked ~ .container .photo-gallery .cat,
#check4:checked ~ .container .photo-gallery .lion,
#check5:checked ~ .container .photo-gallery .hourse,
#check6:checked ~ .container .photo-gallery .parrot {
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
